<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href="@Url.Action("Index", "Home")" class="logo logo-dark">
            <span class="logo-sm">
                <img src="~/assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/logo-dark.png" alt="" height="17">
            </span>
        </a>
        <!-- Light Logo-->
        <a href="@Url.Action("Index", "Home")" class="logo logo-light">
            <span class="logo-sm">
                <img src="~/assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/logo-light.png" alt="" height="50">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">

            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="@Url.Action("Index", "Home")">
                        <i class="ri-dashboard-line"></i> <span>Dashboard</span>
                    </a>
                </li>
                
                @if (User.IsInRole("costing") || User.IsInRole("sc") || User.IsInRole("admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="@Url.Action("Index", "ExchangeRate")">
                            <i class="ri-currency-fill"></i> <span>Exchange Rate</span>
                        </a>
                    </li>
                }
                @if (User.IsInRole("costing") || User.IsInRole("sc") || User.IsInRole("admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="@Url.Action("Index", "Rofo")">
                            <i class="ri-upload-line"></i> <span>Upload Rofo</span>
                        </a>
                    </li>
                }
                @if (User.IsInRole("costing") || User.IsInRole("sc") || User.IsInRole("rni") || User.IsInRole("admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="@Url.Action("Index", "BomStd")">
                            <i class="ri-file-list-3-line"></i> <span>BOM Standard</span>
                        </a>
                    </li>
                }
                @if (User.IsInRole("costing") || User.IsInRole("sc") || User.IsInRole("rni") || User.IsInRole("admin"))
                {
                    <li class="nav-item">
                        <a href="#mupCalculation" class="nav-link menu-link" data-bs-toggle="collapse" role="button"
                           aria-expanded="false" aria-controls="sidebarProjects" data-key="t-projects">
                            <i class="ri-calculator-line"></i> <span>MUP Calculation</span>
                        </a>
                        <div class="collapse menu-dropdown" id="mupCalculation">
                            <ul class="nav nav-sm flex-column">
                                @if (User.IsInRole("costing") || User.IsInRole("sc") || User.IsInRole("admin"))
                                {
                                    <li class="nav-item">
                                        <a href="@Url.Action("Process", "Mup")" class="nav-link" data-key="t-process"> Process </a>
                                    </li>
                                }
                                <li class="nav-item">
                                    <a href="@Url.Action("SummaryByItemId", "Mup")" class="nav-link" data-key="t-summary-by-item-id"> Summary By Item ID </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("SummaryByBatchNumber", "Mup")" class="nav-link" data-key="t-summary-by-batch-number"> Summary By Batch Number </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Details", "Mup")" class="nav-link" data-key="t-details"> Details </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                }
                @if (User.IsInRole("costing") || User.IsInRole("sc") || User.IsInRole("admin"))
                {
                    <li>
                        <a class="nav-link menu-link" href="@Url.Action("Index", "ItemForecast")">
                            <i class="ri-price-tag-2-fill"></i> <span>Item Forecast Price</span>
                        </a>
                    </li>
                }
                @if (User.IsInRole("costing") || User.IsInRole("sc") || User.IsInRole("admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="@Url.Action("Index", "ItemAdjustment")">
                            <i class="ri-price-tag-3-fill"></i> <span>Item Price Adjustment</span>
                        </a>
                    </li>
                }
                @if (User.IsInRole("costing") || User.IsInRole("sc") || User.IsInRole("rni") || User.IsInRole("admin"))
                {
                    <li class="nav-item">
                    <a href="#fgCalculation" class="nav-link menu-link" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sidebarProjects" data-key="t-projects">
                        <svg height="15px" fill="#ffffff" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 612.002 612.002" xml:space="preserve" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M269.155,329.238H13.392C5.996,329.238,0,335.234,0,342.63v255.764c0,7.393,5.996,13.387,13.392,13.387h255.764 c7.393,0,13.385-5.994,13.385-13.387V342.63C282.54,335.234,276.548,329.238,269.155,329.238z M206.641,499.049 c10.172,10.172,10.172,26.659,0,36.831c-5.085,5.085-11.75,7.628-18.415,7.628s-13.331-2.542-18.416-7.628l-28.538-28.54 l-28.54,28.54c-5.085,5.085-11.752,7.628-18.416,7.628c-6.665,0-13.331-2.542-18.416-7.628c-10.168-10.172-10.168-26.659,0-36.831 l28.542-28.54l-28.542-28.54c-10.168-10.172-10.168-26.659,0-36.831c10.172-10.17,26.662-10.17,36.833,0l28.54,28.54l28.54-28.54 c10.17-10.17,26.661-10.17,36.829,0c10.172,10.172,10.172,26.659,0,36.831l-28.538,28.54L206.641,499.049z"></path> <path d="M598.615,0.221H342.856c-7.4,0-13.392,5.994-13.392,13.39v255.764c0,7.396,5.992,13.387,13.392,13.387h255.761 c7.393,0,13.385-5.991,13.385-13.387V13.611C612,6.215,606.008,0.221,598.615,0.221z M537.137,167.536h-132.81 c-14.382,0-26.042-11.662-26.042-26.044s11.66-26.042,26.042-26.042h132.81c14.382,0,26.042,11.66,26.042,26.042 S551.521,167.536,537.137,167.536z"></path> <path d="M598.615,329.238H342.856c-7.4,0-13.392,5.996-13.392,13.392v255.764c0,7.393,5.992,13.387,13.392,13.387h255.761 c7.393,0,13.385-5.994,13.385-13.387V342.63C612,335.234,606.008,329.238,598.615,329.238z M537.137,550.908h-132.81 c-14.382,0-26.042-11.66-26.042-26.042c0-14.384,11.66-26.042,26.042-26.042h132.81c14.382,0,26.042,11.66,26.042,26.042 C563.181,539.247,551.521,550.908,537.137,550.908z M537.137,442.197h-132.81c-14.382,0-26.042-11.66-26.042-26.042 s11.66-26.042,26.042-26.042h132.81c14.382,0,26.042,11.66,26.042,26.042S551.521,442.197,537.137,442.197z"></path> <path d="M269.155,0.221H13.392C5.996,0.221,0,6.215,0,13.611v255.764c0,7.396,5.996,13.387,13.392,13.387h255.764 c7.393,0,13.385-5.991,13.385-13.387V13.611C282.54,6.215,276.548,0.221,269.155,0.221z M207.677,167.536h-40.363v40.361 c0,14.382-11.658,26.042-26.04,26.042c-14.382,0-26.044-11.66-26.044-26.042v-40.361H74.868 c-14.382,0-26.044-11.662-26.044-26.044s11.662-26.042,26.044-26.042h40.361V75.085c0-14.382,11.662-26.04,26.044-26.04 c14.382,0,26.04,11.658,26.04,26.04v40.363h40.365c14.382,0,26.04,11.66,26.04,26.042S222.061,167.536,207.677,167.536z"></path> </g> </g> </g></svg>
                        <span>FG Calculation</span>
                    </a>
                    <div class="collapse menu-dropdown" id="fgCalculation">
                        <ul class="nav nav-sm flex-column">
                            @if (User.IsInRole("costing") || User.IsInRole("sc") || User.IsInRole("admin"))
                            {
                                <li class="nav-item">
                                    <a href="@Url.Action("Process", "FgCost")" class="nav-link" data-key="t-process"> Process </a>
                                </li>
                            }
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "FgCost")" class="nav-link" data-key="t-summary"> Summary </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Details", "FgCost")" class="nav-link" data-key="t-details"> Details </a>
                            </li>
                        </ul>
                    </div>
                </li>
                }
                
                @if (User.IsInRole("costing") || User.IsInRole("sc") || User.IsInRole("rni") || User.IsInRole("marketing_domestik") || User.IsInRole("marketing_export") || User.IsInRole("admin"))
                {
                    <li class="nav-item">
                        <a href="#reportVersion" class="nav-link menu-link" data-bs-toggle="collapse" role="button"
                           aria-expanded="false" aria-controls="sidebarProjects" data-key="t-projects">
                            <i class="ri-pie-chart-box-line"></i> <span>Report Version</span>
                        </a>
                        <div class="collapse menu-dropdown" id="reportVersion">
                            <ul class="nav nav-sm flex-column">
                                @if (User.IsInRole("costing"))
                                {
                                    <li class="nav-item">
                                        <a href="@Url.Action("Process", "ReportVersion")" class="nav-link" data-key="t-process"> Process </a>
                                    </li>
                                }
                                <li class="nav-item">
                                    <a href="@Url.Action("GetAllFgCostVer", "ReportVersion")" class="nav-link" data-key="t-summary-by-item-id"> FG Cost Version Summary </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("GetAllMupVer", "ReportVersion")" class="nav-link" data-key="t-details"> MUP Version Details </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                }
                
                @if (User.IsInRole("costing") || User.IsInRole("marketing_domestik") || User.IsInRole("admin"))
                {
                    <li class="nav-item">
                        <a href="#scmReportsDomestic" class="nav-link menu-link" data-bs-toggle="collapse" role="button"
                           aria-expanded="false" aria-controls="sidebarProjects" data-key="t-projects">
                            <svg height="15px" fill="#ffffff" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 76.991 76.992" xml:space="preserve" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <g> <g> <path d="M46.387,75.839h-5.812c-0.639,0-1.24-0.248-1.692-0.697c-0.458-0.463-0.707-1.063-0.707-1.701l0.016-51.524 c0-0.64,0.25-1.243,0.703-1.696c0.456-0.454,1.058-0.702,1.696-0.702l5.604,0.008c1.32,0.005,2.394,1.079,2.396,2.394v0.048 c2.803-2.202,6.19-3.28,10.262-3.28c10.512,0,18.14,8.825,18.14,20.983c0,15.145-9.986,22.042-19.265,22.042 c-3.352,0-6.428-0.868-8.94-2.491v14.219C48.786,74.763,47.71,75.839,46.387,75.839z M41.176,72.839h4.61V56.038 c0-0.615,0.375-1.167,0.946-1.396c0.572-0.227,1.225-0.082,1.646,0.367c2.247,2.387,5.566,3.702,9.349,3.702 c7.834,0,16.265-5.959,16.265-19.042c0-10.42-6.367-17.983-15.14-17.983c-4.492,0-7.957,1.571-10.588,4.803 c-0.398,0.492-1.063,0.68-1.664,0.467c-0.597-0.211-0.998-0.775-1-1.409l-0.008-3.023l-4.4-0.006L41.176,72.839z M57.816,54.72 c-6.789,0-12.313-6.51-12.313-14.51s5.524-14.509,12.313-14.509c6.791,0,12.316,6.509,12.316,14.509S64.607,54.72,57.816,54.72z M57.816,28.702c-5.135,0-9.313,5.163-9.313,11.509s4.179,11.51,9.313,11.51c5.138,0,9.316-5.164,9.316-11.51 S62.954,28.702,57.816,28.702z"></path> </g> </g> <g> <g> <path d="M34.844,56.259H28.25c-1.124,0-2.137-0.709-2.52-1.768l-7.107-19.626h-6.889v18.713c0,1.478-1.202,2.681-2.68,2.681 H2.681C1.203,56.259,0,55.056,0,53.579V3.873c0-1.475,1.199-2.677,2.673-2.681l12.233-0.04c7.523,0,12.485,1.457,16.095,4.722 c3.068,2.707,4.765,6.748,4.765,11.365c0,6.011-1.837,10.229-6.297,14.32l7.885,21.082c0.305,0.825,0.19,1.744-0.305,2.461 C36.543,55.829,35.72,56.259,34.844,56.259z M28.474,53.259h5.909l-8.084-21.615c-0.221-0.59-0.049-1.254,0.429-1.665 c4.402-3.772,6.039-7.226,6.039-12.741c0-3.744-1.336-6.986-3.764-9.128c-3.031-2.742-7.373-3.959-14.091-3.959L3.001,4.19 v49.069h5.733V33.366c0-0.829,0.671-1.5,1.5-1.5h9.441c0.631,0,1.195,0.396,1.41,0.989L28.474,53.259z M15.575,27.669h-5.341 c-0.829,0-1.5-0.671-1.5-1.5V9.927c0-0.828,0.67-1.499,1.498-1.5l5.117-0.006c0.004-0.001,0.012,0,0.019,0 c9.64,0.107,11.664,5.253,11.664,9.552C27.031,23.772,22.427,27.669,15.575,27.669z M11.734,24.669h3.841 c5.216,0,8.456-2.566,8.456-6.697c0-2.77-0.9-6.462-8.688-6.552l-3.609,0.004V24.669z"></path> </g> </g> </g> </g> </g></svg>
                            <span>SCM Domestic</span>
                        </a>
                        <div class="collapse menu-dropdown" id="scmReportsDomestic">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="@Url.Action("GetDomesticByProductCustomer", "ScmReport")" class="nav-link" data-key="t-domestic-by-product-customer"> Product & Customer </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("GetDomesticByProduct", "ScmReport")" class="nav-link" data-key="t-domestic-by-product"> Product </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("GetDomesticByCustomer", "ScmReport")" class="nav-link" data-key="t-domestic-by-customer"> Customer </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("GetDomesticRawData", "ScmReport")" class="nav-link" data-key="t-domestic-raw-data"> Raw Data </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                }
                
                @if (User.IsInRole("costing") || User.IsInRole("marketing_export") || User.IsInRole("admin"))
                {
                    <li class="nav-item">
                        <a href="#scmReportsExport" class="nav-link menu-link" data-bs-toggle="collapse" role="button"
                           aria-expanded="false" aria-controls="sidebarProjects" data-key="t-projects">
                            <i class="ri-global-line"></i> <span>SCM Export</span>
                        </a>
                        <div class="collapse menu-dropdown" id="scmReportsExport">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="@Url.Action("GetExportByProductCustomer", "ScmReport")" class="nav-link" data-key="t-export-by-product-customer"> Product & Customer </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("GetExportByProduct", "ScmReport")" class="nav-link" data-key="t-export-by-product"> Product </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("GetExportByCustomer", "ScmReport")" class="nav-link" data-key="t-export-by-customer"> Customer </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("GetExportRawData", "ScmReport")" class="nav-link" data-key="t-export-raw-data"> Raw Data </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                }
                @if (User.IsInRole("costing") || User.IsInRole("sc") || User.IsInRole("rni") || User.IsInRole("finance") || User.IsInRole("marketing_domestik") || User.IsInRole("marketing_export") || User.IsInRole("admin"))
                {
                    <li class="nav-item">
                        <a href="#anlMenuGroup" class="nav-link menu-link" data-bs-toggle="collapse" role="button"
                           aria-expanded="false" aria-controls="anlMenuGroup">
                            <i class="ri-bar-chart-2-line"></i> <span>Plan Vs. Actual</span>
                        </a>
                        <div class="collapse menu-dropdown" id="anlMenuGroup">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="@Url.Action("AnlFgPrice", "AnlRm")" class="nav-link"> FG Price </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("AnlKurs", "AnlRm")" class="nav-link"> Kurs </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("AnlRmPrice", "AnlRm")" class="nav-link"> RM Price </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("AnlRmPriceGroup", "AnlRm")" class="nav-link"> RM Price Group </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("AnlPmPrice", "AnlRm")" class="nav-link"> PM Price </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                }
                @if (User.Identity is { IsAuthenticated: true } && (User.IsInRole("admin") || User.IsInRole("costing")))
                {
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="@Url.Action("Index", "JobMonitoring")">
                            <i class="ri-bar-chart-line"></i> <span>Job Monitoring</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
    <div class="sidebar-background"></div>
</div>
<!-- Left Sidebar End -->
<!-- Vertical Overlay-->
<div class="vertical-overlay"></div>